<h1>Edit profile</h1>

<form ng-submit="user.saveProfile()">
  <div class="form-group">
    <label class="col-sm-2 control-label">Name:</label>
    <div class="col-sm-4">
      <input class="form-control" ng-model="user.info.name" />
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">Division:</label>
    <div class="col-sm-4">
      <input class="form-control" ng-model="user.info.division" />
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label">Age:</label>
    <div class="col-sm-4">
      <input class="form-control" ng-model="user.info.age" />
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2">
      <button type="submit" class="btn btn-small btn-primary">Save Changes</button>
    </div>
  </div>
</form>
