<h1>Edit Project</h1>

<form ng-submit="project.handleEditSubmit(project.info)">
  <div class="form-group">
    <label for="projectName" class="col-sm-2 control-label">Project name:</label>
    <div class="col-sm-4">
      <input class="form-control" id="projectName" ng-model="project.info.projectName" placeholder="Project name"/>
    </div>
  </div>

  <div class="form-group">
    <label for="projectOwners" class="col-sm-2 control-label">Project Owners:</label>
    <div class="col-sm-4">
      <select id="projectOwnersSelection" multiple="true" ng-model="project.info.projectOwners" ng-options="name for name in project.ownerOptions"></select>
    </div>
  </div>

  <div class="form-group">
    <label for="projectMembers" class="col-sm-2 control-label">Project Members:</label>
    <div class="col-sm-4">
      <select id="projectOwnersSelection" multiple="true" ng-model="project.info.projectMembers" ng-options="name for name in project.memberOptions"></select>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2">
      <button type="submit" class="btn btn-small btn-primary">Save Changes</button>
    </div>
  </div>
</form>
