<form class="form-horizontal" role="form">
  <div class="form-group">
    <label for="roomName" class="col-sm-2 control-label">Room name:</label>
    <div class="col-sm-4">
      <input class="form-control" id="roomName" ng-model="room.room.roomName" placeholder="Room name"/>
    </div>
  </div>

  <div class="form-group">
    <label for="roomDescription" class="col-sm-2 control-label">Room description:</label>
    <div class="col-sm-4">
      <input class="form-control" id="roomDescription" ng-model="room.room.roomDescription" placeholder="For business meeting"/>
    </div>
  </div>

  <div class="form-group">
    <label for="roomCapacity" class="col-sm-2 control-label">Room capacity:</label>
    <div class="col-sm-4">
      <input class="form-control" type="number" id="roomCapacity" ng-model="room.room.roomCapacity" placeholder="10"/>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="button" ng-click="room.submit()" class="btn btn-small btn-primary">{{room.action}}</button>
    </div>
  </div>
</form>