<form class="col-md-6">
  <div class="form-group">
    <label for="roomName">Room name:</label>
    <input class="form-control" id="roomName" ng-model="room.room.roomName" placeholder="Room name" ng-readonly="{{room.readAtr}}"/>
  </div>

  <div class="form-group">
    <label for="roomDescription">Room description:</label>
    <input class="form-control" id="roomDescription" ng-model="room.room.roomDescription" placeholder="For business meeting"/>
  </div>

  <div class="form-group">
    <label for="roomCapacity" >Room capacity:</label>
    <input class="form-control" type="number" id="roomCapacity" ng-model="room.room.roomCapacity" placeholder="10"/>
  </div>
  <div class="notice">{{room.message}}</div>
  <div class="form-group">
    <button type="button" ng-click="room.submit()" class="btn btn-primary col-md-5 room-button">{{room.action}}</button>
    <a href="#/rooms" class="btn btn-primary col-md-5 room-button pull-right">Back</a>
  </div>
</form>
