<h1>List Rooms</h1>
<div class="row">
  <div class="col-md-12">
    <div ng-repeat="room in room.listRooms track by room.roomName" class="container">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Capacity</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{room.roomName}}</td>
            <td>{{room.roomCapacity}}</td>
            <td>{{room.roomDescription}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
