<div ng-controller="ProfileController">
  <h2>Profile</h2>
  <div>
    <img alt="avatar" src= "{{profile.imageUrl}}" width= "100" height= "100" />
  </div>
  <div>
    <p>
      <strong>Full Name:</strong>
      <span>{{profile.fullname}}</span>
    </p>
    <p></p>
    <p>
      <strong>Email:</strong>
      <span>{{profile.email}}</span>
    </p>
    <p>
      <strong>Name:</strong>
      <span>{{profile.user.name}}</span>
    </p>
    <p>
      <strong>Division:</strong>
      <span>{{profile.user.division}}</span>
    </p>
    <p>
      <strong>Age:</strong>
      <span>{{profile.user.age}}</span>
    </p>
    <p>
      <a href="#/users/edit">Edit profile</a>
    </p>
  </div>
</div>
